.left {
    animation: left 10s infinite ease-in-out; 
}

.right {
    animation: right 10s infinite ease-in-out; 
}

@keyframes left {
    0%, 5% {
        transform: translateX(500px);
    }
    21%, 40% {
        transform: translate(0);
    }
    65%, 75% {
        transform: translateX(-500px);
    }
    76% {
        transform: translate(0, -700px);
    }
    85%, 90% {
        transform: translateY(0);
    }
    98%, 100%{
        transform: translateY(500px);
    }
}

@keyframes right {
    0%, 5% {
        transform: translateX(-500px);
    }
    21%, 40% {
        transform: translate(0);
    }
    65%, 75% {
        transform: translateX(300px);
    }
    76% {
        transform: translate(0, 300px);
    }
    85%, 90% {
        transform: translateY(0);
    }
    98%, 100%{
        transform: translateY(-200px);
    }
}